{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container">
        
        <input class="form-control" type="text" placeholder="Input your first number" name="i" id="i" required>
        <br>

        <select class="custom-select custom-select-lg mb-3" name="operation" id="operation">
            <option value="operation">Select an operation</option>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="x">x</option>
            <option value="÷">÷</option>
        </select>
        <br><br> 
        
        <input class="form-control" type="text" placeholder="Input your second number" name="ii" id="ii" required>
        <br>

        <input class="btn btn-primary" id="calculate" value="Calculate">
        <br><br>
        <div class="error-box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p style="color: rgb(200, 5, 5);">{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <small>Last 10 calculations:</small>
        <br>
        <span id="last"></span>
        <ol id="result">
            {% for op in all_ops %}
                <li id="calculations">{{ op.result }}</li>
            {% endfor %}
        </ol>
</div>

{% endblock %}