{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container">
    <form action="/send" method="POST">
        
        <input class="form-control" type="text" placeholder="Input your first number" name="i">
        <br>

        <select class="custom-select custom-select-lg mb-3" name="operation">
            <option value="operation">Select an operation</option>
            <option value="add">+</option>
            <option value="substract">-</option>
            <option value="multiply">x</option>
            <option value="divide">÷</option>
        </select>
        <br><br> 
        
        <input class="form-control" type="text" placeholder="Input your second number" name="ii">
        <br>

        <input class="btn btn-primary" id="calculate" type="submit" value="Calculate">
        <br><br>

        <div class="result">
            <small>Last 10 calculations:</small>
            {% for op in all_ops %}
                <div>{{ op.result }}</div>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}